<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConString" connectionString="server=localhost;database=DailyPickup;uid=sa;pwd=student;"/>
    <!-- <add name="ConString" connectionString="Data Source=localhost;Initial Catalog=DailyPickup;Persist Security Info=True;"/>-->
  </connectionStrings>
</configuration>